.box{
    border-color: black;
    background-color:black;
    border-radius: 50px;
    margin-top: 2%;
    position: inherit;
    width: 99%;

}
.rating{
    font-size: large;
    margin-left: 15%;
    margin-top: -5%;
    position: absolute;
    transform: 'translate(-50%, -50%)';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 188, 188);
    z-index: 0;
}
.but{
    margin-left: 15%;
    margin-bottom: 2%;
    border: 0cap;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.type{
    font-size: large;
    margin-left: 15%;
    margin-top: -7%;
    position: absolute;
    transform: 'translate(-50%, -50%)';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 188, 188);
}
.nametext{
    font-size: xx-large;
    margin-left: 15%;
    margin-top: -14%;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    margin-top: 5%;
}
.genres{
    font-size: large;
    margin-left: 15%;
    margin-top: -9%;
    position: absolute;
    transform: 'translate(-50%, -50%)';
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 188, 188);
}

.language{
    font-size: large;
    margin-left: 15%;
    margin-top: -11%;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(190, 188, 188);
}
.imageoff{
    border-radius: 10%;
    height: 20%;
    margin-left: 4%;
    width:10%;
    margin-top: 2%;
    margin-bottom: 3%;
}